<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android'>
    <uses-permission android:name='android.permission.FOREGROUND_SERVICE' />
    <uses-permission android:name='android.permission.FOREGROUND_SERVICE_DATA_SYNC' />
    <uses-permission android:name='android.permission.ACCESS_FINE_LOCATION' />
    <uses-permission android:name='android.permission.ACCESS_COARSE_LOCATION' />
    <uses-permission android:name='android.permission.READ_PHONE_STATE' />
    <uses-permission android:name='android.permission.SEND_SMS' />
    <uses-feature
        android:name='android.hardware.telephony'
        android:required='false' />

    <application
        android:name='.MafzaApplication'
        android:allowBackup='false'
        android:dataExtractionRules='@xml/data_extraction_rules'
        android:fullBackupContent='@xml/backup_rules'
        android:icon='@mipmap/ic_launcher'
        android:label='${app_label}'
        android:roundIcon='@mipmap/ic_launcher_round'
        android:supportsRtl='true'
        android:theme='@style/Theme.Mafza'>
        <provider
            android:name='rikka.shizuku.ShizukuProvider'
            android:authorities='${applicationId}.shizuku'
            android:exported='true'
            android:multiprocess='false'
            android:permission='android.permission.INTERACT_ACROSS_USERS_FULL' />

        <activity
            android:name='.MainActivity'
            android:exported='true'
            android:theme='@style/Theme.Mafza'>
            <meta-data
                android:name='android.app.shortcuts'
                android:resource='@xml/shortcuts' />
            <intent-filter>
                <action android:name='android.intent.action.MAIN' />
                <category android:name='android.intent.category.LAUNCHER' />
            </intent-filter>
        </activity>

        <activity
            android:name='.emergency.EmergencyShortcutProxyActivity'
            android:exported='true'
            android:excludeFromRecents='true'
            android:launchMode='singleTask'
            android:noHistory='true'
            android:taskAffinity=''
            android:theme='@style/Theme.Mafza.Transparent' />

        <service
            android:name='.emergency.EmergencyExecutionService'
            android:enabled='true'
            android:exported='false'
            android:foregroundServiceType='dataSync' />

        <receiver
            android:name='.emergency.EmergencyStartReceiver'
            android:enabled='true'
            android:exported='false'>
            <intent-filter>
                <action android:name='com.yshalsager.mafza.action.TRIGGER_SHORTCUT' />
                <action android:name='com.yshalsager.mafza.action.TRIGGER_WIDGET' />
                <action android:name='com.yshalsager.mafza.action.TRIGGER_QUICK_SETTINGS_TILE' />
            </intent-filter>
        </receiver>

        <receiver
            android:name='.emergency.EmergencyWidgetProvider'
            android:enabled='true'
            android:exported='true'>
            <intent-filter>
                <action android:name='android.appwidget.action.APPWIDGET_UPDATE' />
            </intent-filter>
            <meta-data
                android:name='android.appwidget.provider'
                android:resource='@xml/emergency_widget_info' />
        </receiver>

        <service
            android:name='.emergency.EmergencyQuickSettingsTileService'
            android:enabled='true'
            android:exported='true'
            android:icon='@drawable/ic_emergency_trigger'
            android:label='@string/quick_settings_tile_label'
            android:permission='android.permission.BIND_QUICK_SETTINGS_TILE'>
            <intent-filter>
                <action android:name='android.service.quicksettings.action.QS_TILE' />
            </intent-filter>
        </service>
    </application>

</manifest>
